.block {
  --⍰-size: 20vmin;
  --⍰-min-size: 10rem;

  transform: translate3d(
    calc(100% * var(--current, 0) * -1),
    calc(20vmin + var(--⍰-size) / 8 - 10%),
    0
  );

  scroll-snap-align: center;

  transition: .3s transform $in-out-quad;
}

.block__⍰ {
  size: v(⍰-size);

  @media (--block-scale) and (--block-scale-h) {
    min-size: v(⍰-min-size);
  }
}

.block__coin {
  size: calc(var(--⍰-size) / 2) auto;

  @media (--block-scale) and (--block-scale-h) {
    min-inline-size: calc(var(--⍰-min-size) / 2);
  }
}
