@use '../../abstract' as *;
@use '../../variables' as *;

.block {
  /* put current block in viewport */
  --⍰-base-translate-x: calc(-100% * var(--current, 0));

  transform: translate(
    calc(v(⍰-base-translate-x) + v(⍰-translate-x, 0px)),
    v(⍰-translate-y, 0px)
  );

  transition: .3s transform $in-out-quad;

  @media (--no-motion) {
    transition-duration: .001s;
  }
}

.block__⍰ {
  size: v(⍰-size);

  @media (--block-scale) and (--block-scale-h) {
    min-size: v(⍰-min-size);
  }
}

.block__coin {
  size: calc(v(⍰-size) * v(coin-w-cx, .5)) auto;

  @media (--block-scale) and (--block-scale-h) {
    min-inline-size: calc(v(⍰-min-size) * v(coin-w-cx, .5));
  }
}

#smb { --coin-w-cx: .5; }
#smb3 { --coin-w-cx: .6; }
