.block {
  --block-size: 20vmin;
  --block-min-size: 10rem;

  transform: translate(
    calc(100% * var(--current, 0) * -1),
    calc(20vmin + var(--block-size) / 8 - 10%)
  );

  scroll-snap-align: center;

  transition: .3s transform $in-out-quad;
}

.block__⍰ {
  size: v(block-size);

  @media (--block-scale) and (--block-scale-h) {
    min-size: v(block-min-size);
  }
}

.block__coin {
  size: calc(var(--block-size) * var(--cx, .5)) auto;

  @media (--block-scale) and (--block-scale-h) {
    min-inline-size: calc(var(--block-min-size) * var(--cx, .5));
  }

}

#smb { --cx: .5; }
#smb3 { --cx: .6; }
