/* Oxygen, fontsquirrel.com, January 3, 2018

  Light       300
  Regular     400
  Bold        700

*/

/* @todo: check why PurgeCSS doesn’t exclude it (unused) */

// // Light (300).
// @font-face {
//   font-family: 'Oxygen';
//   src: url('../../fonts//oxygen-light.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// Regular (400).
@font-face {
  font-family: 'Oxygen';
  src: url('../../fonts/oxygen-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @todo 👇 only used for 4 characters. Consider base64 the 4 glyphs… */

// Bold (700).
@font-face {
  font-family: 'Oxygen';
  src: url('../../fonts/oxygen-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
