/* Oxygen Mono v14, fonts.google.com, March 29, 2024

  Regular     400

  Glyphs: ciffers and multiply sign.

*/

// Regular (400).
@font-face {
  font-family: 'Oxygen Mono';
  src: url('../../fonts/oxygen-mono-subset-ciphers-and-multiply-sign.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
