// Sunset
:root {
  @media (--dark) {
    .sun__part { transition: transform .6s var(--out-quad) .5s; }
    .sun__core { --sun-scale: .3; }
    .sun__beam { --sun-scale: .1; }
  }
}

// A sun part can either be its core or a beam.
.sun__part { transform: translate3d(0, 0, 0) scale(var(--sun-scale, 1)); }

.sun__core { transition: transform .4s var(--in-out-quad) .15s; }

.sun__beam {
  transition: .35s var(--out-back) .5s;

  // stagger the transition of the sun beams

  --sun-beam-amount: 8;
  --sun-beam-base-delay: .4;
  --sun-beam-total-duration: .1;
  --sun-beam-split-delay: calc(var(--sun-beam-total-duration) / var(--sun-beam-amount));

  transition-delay: calc(
    (
      var(--sun-beam-base-delay)
      + var(--sun-beam-index, 1) * var(--sun-beam-split-delay)
    )
    * 1s
  );
}
