// // Initial from Burokku

// :root {
//   // Black, grey, white
//   $black-russian: hsl(220, 8%, 15%);
//   $bunker: hsl(0, 0%, 18%);
//   $jumbo: hsl(0, 0%, 53%);
//   $lily-white: hsl(0, 0%, 92%);
//   $white: hsl(0, 0%, 100%);

//   // Accents
//   $bright-turquoise: hsl(167, 100%, 50%);
//   $ultramarine-blue: hsl(224, 88%, 57%);

//   // Others
//   $astral: hsl(207, 55%, 53%);
//   $red: hsl(355, 100%, 45%);
// }

// Initial from Sunappu

:root {
  --grey: hsl(0 0% 53%);
  --astral: hsl(207 55% 53%);
  --dodger-blue: hsl(197 100% 55%);
  --robins-egg-blue: hsl(183 100% 39%);
  --turquoise: hsl(167 100% 50%);

// Theme:                      Basic white,        Basic black

  color-scheme: light dark;

         --primary: light-dark(hsl(0 0% 18%),    hsl(0 0% 100%));
              --bg: light-dark(hsl(0 0% 97%),    hsl(0 0% 18%));
          --btn-bg: light-dark(hsl(0 0% 100%),   hsl(220 8% 15%));
          --accent: light-dark(hsl(231 86% 57%), hsl(167 100% 50%));
     --accent-pale: light-dark(hsl(224 88% 57%), hsl(170 84% 54%));
  --grey-separator: light-dark(hsl(0 0% 100%),   hsl(0 0% 22%));
}
