:root {
  // --x-space: .5rem;
  // @media (--phone) { --x-space: 2rem; }
  // @media (--tablet-7) { --x-space: 4rem; }
  // @media (--tablet-9) { --x-space: 6rem; }

  // sizes

  --safe-top: env(safe-area-inset-top, 0);
  --safe-right: env(safe-area-inset-right, 0);
  --safe-bottom: env(safe-area-inset-bottom, 0);
  --safe-left: env(safe-area-inset-left, 0);

  --1dvh: 1vh;
  --1lvh: 1vh;
  --1svh: 1vh;

  @supports (height: 1dvh) {
    --1dvh: 1dvh;
    --1lvh: 1lvh;
    --1svh: 1svh;
  }
}
