/**
 * Set duration and delays to very small values for both animations and
 * transitions. Using 0s prevents `animationend` and `transitionend`
 * events to fire in some browsers. 1ms is short and unoticieable.
 *
 * https://m.nintendojo.fr/@tomayac@toot.cafe/110989258711458318
 */
.reduced-motion {
  &,
  &::before,
  &::after {
    @media (--reduced-motion) {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;

      transition-duration: 1ms !important;
      transition-delay: 1ms !important; // @todo check if negative value also trigger the transitionend event

      // background-attachment: initial !important;
      // scroll-behavior: auto !important;
    }
  }
}
