// Media queries : â° block size

@custom-media --block-scale (width >= 10em); // 160px
@custom-media --block-scale-h (height >= 10em); // 160px

// Media queries: spacing around top bar and footer

@custom-media --block-bar-scale (width >= 10em); // 160px
@custom-media --block-bar-wide (width >= 40em); // 640px

@custom-media --h-block-bar-scale (height >= 10em); // 160px
@custom-media --h-block-bar-wide (height >= 40em); // 640px

:root {
  @media (--block-bar-scale) and (--h-block-bar-scale) {
    --block-bar-space: calc(1rem + 3vmin);
  }

  @media (--block-bar-wide) and (--h-block-bar-wide) {
    --block-bar-space: 3vmax;
  }
}

// Prevent layout shift while the menu toggle button comes from off the screen.

main {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
