.sound-ctn {
  position: absolute;
  inset-block-end: calc(var(--block-bar-space, 1rem) - 1rem);
  inset-inline-start: calc(var(--block-bar-space, 1rem) - 1rem);

  @supports (top: #{'max(0px)'}) {
    bottom: #{'max(calc(var(--safe-bottom)), calc(var(--block-bar-space, 1rem) - 1rem))'};
    left: #{'max(calc(var(--safe-left)), calc(var(--block-bar-space, 1rem) - 1rem))'};
  }

  &:not(:hover):not(:focus-within) {
    .sound--on {
      opacity: .6;
    }
  }
}

.sound {
  size: 4.4rem;

  transition: opacity .3s $in-out-quad;
}
