.⍰-ctn {
  &:hover,
  &:focus {
    outline: none;
  }
}

.⍰__inner {
  padding: calc(var(--⍰-size) / 2);

  .⍰--hit & {
    animation: ⍰-hit .2s;
    --⍰-animation: none;
    --⍰-smb3-animation: none;
  }
}
