.wallet {
  &:not(.wallet--on) {
    display: none;
  }
}

.wallet__amount {
  padding-inline-start: .25em;

  font-family: monospace;

  &::before {
    content: 'x';
    margin-inline-end: .15em;
  }
}

.wallet__icon {
  size: .4em auto;
}
