// Black, grey, white
$black-russian: hsl(220, 8%, 15%);
$bunker: hsl(0, 0%, 18%);
$jumbo: hsl(0, 0%, 53%);
$lily-white: hsl(0, 0%, 92%);
$white: hsl(0, 0%, 100%);

// Accents
$bright-turquoise: hsl(167, 100%, 50%);
$ultramarine-blue: hsl(224, 88%, 57%);

// Others
$astral: hsl(207, 55%, 53%);
$red: hsl(355, 100%, 45%);
