.cta {
  size: 28rem 4.7rem;

  font-size: 2rem;

  background: v(btn-bg);
  border: v(accent) solid .3rem;
  border-radius: .8rem;
  color: v(btn-primary);

  @media (--motion) {
    animation: border-glow 3s linear infinite;
  }

  @media (--tablet-7) {
    block-size: 7.6rem;

    font-size: 2.6rem;

    border-width: .5rem;
  }

  &:hover,
  &:focus {
    animation-duration: 1s;
  }
}

.cta--small {
  size: auto auto;
  padding: .5em 2em;

  font-size: 1.5rem;

  border-radius: .5rem;
  border-width: .2rem;
}
