@use 'v.scss' as *;

.cta {
  size: 28rem 4.7rem;

  display: inline-grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 2rem;

  background: v(btn-bg);
  border: v(btn-border, accent, null) solid .3rem;
  border-radius: .8rem;
  color: v(btn-color);

  @media (--motion) {
    animation: border-glow 3s linear infinite;
  }

  @media (--tablet-7) {
    block-size: 7.6rem;

    font-size: 2.6rem;

    border-width: .5rem;
  }

  &:hover,
  &:focus {
    animation-duration: 1s;
  }
}

.cta--small {
  size: auto auto;
  padding: .5em 2em;

  font-size: 1.5rem;

  border-radius: .5rem;
  border-width: .2rem;
}

.cta--hollow {
  &:not(:hover):not(:focus) {
    --btn-border: var(--primary);
    animation: none;
  }
}

// Turn a hollow button into a button without border when applied.
.cta--on-hover {
  --btn-bg: none;
  --btn-border: transparent;
  outline: .1rem solid v(bg);
  outline-offset: -.5rem;

  animation: none;

  &:hover,
  &:focus {
    --btn-bg: var(--btn-bg);

    @media (--motion) {
      animation: border-glow 1s linear infinite;
    }
  }
}
