@use '../../abstract' as *;
@use '../../variables' as *;

.menu {
  // shift vertical position by parent (`.block__bar`) height + additional gap
  --menu-y: calc(100% + 1rem);

  min-inline-size: 22.7rem;
  max-size:
    30rem /* menu max-width */

    /* menu max-height = viewport height minus space around, or 50rem */
    min(
      100 * v(1dvh)
        - max(v(safe-top) + 1rem, v(block-bar-space, 1rem)) /* UI top padding */
        - v(menu-y) /* menu shifted Y position */
        - 1rem /* additional space to balance the menu in the layout */
        - max(v(safe-bottom) + 1rem, v(block-bar-space, 1rem)), /* UI bottom padding */
      50rem
    );

  position: absolute;
  z-index: 1;
  inset: v(menu-y) 0 auto auto; // menu is `1rem` away from its toggle button

  padding: 2rem;

  overflow-y: auto;
  // scrollbar-gutter: stable; // currently creates a gap

  background: v(bg);
  border: .1rem solid v(grey);
  border-radius: .4rem;
  opacity: v(menu-visible, 0);
  visibility: v(menu-visibility, hidden);

  transform: translateX(calc(v(menu-visible, 0) * -2rem + 2rem));

  transition: .2s $in-out-quad;
  transition-property: opacity, transform, visibility;

  @media (--no-motion) {
    transition-duration: .001s;
  }
}
