@use '../../variables' as *;

.menu__toggle {
  /*
   * The same distance (this custom property) is used for button padding and
   * as negative margin in order to maintain visual alignment with other
   * other items (blocks navigation, menu settings…).
   */
  --menu-toggle-x-padding: 1rem;

  margin-inline: 2rem calc(var(--menu-toggle-x-padding) * -1);
  padding: .3rem var(--menu-toggle-x-padding);

  transition: .5s;
  transition-property: opacity, visibility;

  // Lower button opacity when not on it nor in the menu.
  html:not(.menu-visible) & {
    &:not(:hover):not(:focus) {
      opacity: .6;
    }
  }

  &:not(.menu__toggle--visible) {
    visibility: hidden;
    opacity: 0;
  }
}
