/* Oxygen Mono v13, fonts.google.com, January 20, 2023

  Regular     400

  Glyphs: ciffers and multiply sign.

*/

// Regular (400).
@font-face {
  font-family: 'Oxygen Mono';
  src: url('../../fonts/oxygen-mono-ciphers-and-multiply-sign.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
