@use '../variables/' as *;

.truncated-text {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.monospace {
  /**
   * `tabular-nums` isn’t available with Oxygen:
   * https://github.com/google/fonts/issues/1161
   *
   * So instead, Oxygen Mono is used (via `.monospace` utility).
   * This is the only reason to use Oxyegn Mono for now.
   */
  // font-variant-numeric: tabular-nums;
  font-family: $oxygen-mono;
}
