@use '../abstract' as *;
@use '../variables' as *;

.footer {
  position: absolute;
  inset-block-end: calc(var(--block-bar-space, 1rem) - 1rem);
  inset-inline-end: calc(var(--block-bar-space, 1rem) - 1rem);

  @supports (top: #{'max(0px)'}) {
    bottom: #{'max(calc(var(--safe-bottom)), calc(var(--block-bar-space, 1rem) - 1rem))'};
    right: #{'max(calc(var(--safe-right)), calc(var(--block-bar-space, 1rem) - 1rem))'};
  }
}

.footer__link {
  display: inline-flex;
  padding: 1rem;

  vertical-align: middle;
  text-decoration: none;

  opacity: .6;

  transition: opacity .3s $in-out-quad;

  @include all-but(1) {
    margin-inline-start: .25em;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.footer__svg {
  size: v(svg-w, unset) auto;
}

.footer__svg--code {
  @media (--mobile) { --svg-w: 2.4rem; }
}

.footer__svg--mastodon {
  @media (--mobile) { --svg-w: 1.7rem; }
}
