@use 'double-dash.scss' as mq;
@use '../abstract' as *;

// Media queries : ⍰ block size

@include mq.w-from('block-scale', 10em); // 160px
@include mq.h-from('block-scale-h', 10em); // 160px

// Media queries: spacing around top bar and footer

$block-bar: (
  'block-bar-scale': 10em, // 160px
  'block-bar-wide': 40em, // 640px
);

@include mq.w($block-bar);
@include mq.h($block-bar);

:root {
  @media (--block-bar-scale) and (--h-block-bar-scale) {
    --block-bar-space: calc(1rem + 3vmin);
  }

  @media (--block-bar-wide) and (--h-block-bar-wide) {
    --block-bar-space: 3vmax;
  }
}

// Prevent layout shift while the menu toggle button comes from off the screen.

main {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
