@use '../abstract' as *;
@use '../variables' as *;

.settings {
  --settings-inset: calc(var(--block-bar-space, 1rem) - 1rem);

  position: absolute;
  inset-block-end: max(v(safe-bottom), v(settings-inset));
  inset-inline-start: max(v(safe-left), v(settings-inset));

  @include no-js {
    display: none;
  }

  @include no-js {
    display: none;
  }
}

.setting {
  size: 4.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity .3s $in-out-quad;

  &:not(:hover):not(:focus) {
    &.setting--on {
      opacity: .6;
    }
  }
}

.setting--not-supported {
  display: none;
}
