@use '../abstract' as *;
@use '../variables' as *;

.settings {
  position: absolute;
  inset-block-end: calc(var(--block-bar-space, 1rem) - 1rem);
  inset-inline-start: calc(var(--block-bar-space, 1rem) - 1rem);

  @supports (top: #{'max(0px)'}) {
    bottom: #{'max(calc(var(--safe-bottom)), calc(var(--block-bar-space, 1rem) - 1rem))'};
    left: #{'max(calc(var(--safe-left)), calc(var(--block-bar-space, 1rem) - 1rem))'};
  }

  @include no-js {
    display: none;
  }
}

.setting {
  size: 4.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity .3s $in-out-quad;

  &:not(:hover):not(:focus) {
    &.setting--on {
      opacity: .6;
    }
  }
}

.setting--not-supported {
  display: none;
}
