@use '../abstract' as *;

.block__bar {
  position: absolute;
  z-index: 1;
  inset:
    max(v(safe-top) + 1rem, v(block-bar-space, 1rem))
    max(v(safe-right) + 1rem, v(block-bar-space, 1rem))
    auto
    max(v(safe-left) + 1rem, v(block-bar-space, 1rem));

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include no-js {
    display: none;
  }
}
