// No background nor border color unless it gets hover or focus.

.cta--on-hover {
  background: none;
  border-color: transparent;
  outline: none;

  animation: none;

  &:is(:hover, :focus-visible) {
    background: var(--btn-bg);

    @media (--motion) {
      animation: border-glow 1s linear infinite;
    }
  }
}
